@model IEnumerable<Cursos.Models.Entidades.Professor>

@{
    ViewData["Title"] = "Painel Adm: Professores";
}

<h1>Painel Adm: Professores</h1>

<p>
    <a asp-action="Create">Criar novo Professor</a>
</p>
<div class="row">

@foreach (var item in Model)
{

    <div class="card col m-3" style="width: 18rem;">
        <img src=" @Html.DisplayFor(modelItem => item.foto)" class="card-img-top" alt="...">
        <div  class="card-header">  @Html.DisplayFor(modelItem => item.nome)  </div>

        <div class="card-body">
            <p class="card-text"> @Html.DisplayFor(modelItem => item.sobre) </p>

             <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
             <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
        </div>
    </div>


}
</div>