@model Cursos.Models.Entidades.Aula

@{
    ViewData["Title"] = "Deletar Aula";
}

<h1>Deletar</h1>

<h3>Tem certeza que deseja deletar ??</h3>
<div>
    <h4>Aula</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.numeroOrdem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.numeroOrdem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.curso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.curso.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Deletar" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
