@model Cursos.Models.ViewModels.AulaViewModel

@{
    ViewData["Title"] = "Gerenciar Aulas";
}

<h1>Gerenciar Aula</h1>
<p>
    <a asp-action="Create" asp-route-id="@Model.idCurso">Cadastrar Aula do Curso @Model.idCurso</a>
</p>
<table class="table table-striped">
    <thead> 
        <tr>
            <th>
                Ordem
            </th>
            <th>
               Título
            <th>
               Descrição
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Aulas) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.numeroOrdem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descricao)
            </td>
        
            <td>
                <a class="badge bg-primary" asp-action="Edit" asp-route-id="@item.Id"><i class="fa-solid fa-pen-to-square"></i> Editar</a> |
                <a class="badge bg-warning text-dark" asp-action="Details" asp-route-id="@item.Id"><i class="fa-solid fa-circle-info"></i> Detalhes</a> |
                <a class="badge bg-danger"asp-action="Delete" asp-route-id="@item.Id"><i class="fa-solid fa-trash-can"></i> Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
