@model Cursos.Models.ViewModels.CursoViewModel

@{
    ViewData["Title"] = "Details";
}


<div class="list-group">
  <h6 href="#" class="list-group-item list-group-item-action">@Model.nome</h6>

  <li  class="list-group-item list-group-item-action list-group-item-primary">
     Publico-alvo: @Model.publicoAlvo;
  </li>
  <li class="list-group-item list-group-item-action list-group-item-secondary">
      Carga Horaria:  @Model.cargaHoraria</li>
  <li class="list-group-item list-group-item-action list-group-item-success">
      Descrição : @Model.descricao
    
  </li>
  
</div>



<section>
    <h4>Veja como o curso está divido</h4>

     <ul class="list-group">
    @foreach (var item in Model.aulas)
    {

       
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">@item.titulo</div>
                    @item.descricao
                </div>
                <span class="badge bg-primary rounded-pill">@item.numeroOrdem</span>
            </li>
           

    }

    </ul>
</section>