@model Cursos.Models.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Página Inicial ";
}



<header class="masthead">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Cronos - Solução em Tecnologia</h1>
                    <span class="subheading">
                        Estude UX Design e aprenda técnicas para criar
                        soluções eficazes e produtos valiosos e lucrativos para usuários e empresas.
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>


<hr class="hr3 ">

<h1 class="fs-1 mt-4 mb-4 text-center">Conheça nossos CURSOS</h1>

<section>
    <div class="row row-cols-1 row-cols-md-3 row-cols-sm-1 g-4">
        @foreach (var item in Model.Cursos.Take(3))
        {
        <div class="col">
            <div class="card h-100 shadow p-3 mb-2 rounded">
                <img src="@Html.DisplayFor(modelItem => item.thumbnail)" class="img-fluid rounded-start" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">@Html.DisplayFor(modelItem => item.nome)</h5>
                    <p class="card-text text-center">@Html.DisplayFor(modelItem => item.resumo)</p>
                    <div class="card-body text-center">
                     <a class="btn btn-warning" asp-action="CursosDetalhes" asp-route-id="@item.Id">Veja mais</a>
                    </div>
                </div>
            </div>
        </div>
        }
    </div>
</section>

<div class=" mt-4 mb-4 text-center ">
    <a class="btn btn-warning shadow p-3 mb-5 rounded" asp-action="CursosIndex">Ver todos os cursos</a>
</div>


<hr class="hr3 ">

<h1 class="fs-1 mt-4 mb-4 text-center">BLOG</h1>



<div class="row row-cols-1 row-cols-md-3 row-cols-sm-1 g-4">
    @foreach (var item in Model.Postagens.Take(3))
    {
        <div class="col-sm-6">
            <div class="card shadow p-3 mb-5 rounded">
                <div class="card-body">
                    <h5 class="card-title text-center">@item.tituloPost</h5>
                    <p class="card-text text-center"> @item.conteudo</p>
                    <div class="card-body text-center">
                     <a href="Home/BlogPostagem/@item.Id" class="btn btn-primary">Artigo Completo</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<div class=" mt-3 text-center ">
    <a class="btn btn-primary shadow p-3 mb-5 rounded" asp-controller="PostagensBlog" asp-action="Index">Ver todas as postagens </a>
</div>


