@model Cursos.Models.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Página Inicial ";
}



<header class="masthead">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Cronos - Solução em Tecnologia</h1>
                    <span class="subheading">
                        Estude UX Design e aprenda técnicas para criar
                        soluções eficazes e produtos valiosos e lucrativos para usuários e empresas.
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>



<h1 class="fs-1 mt-4 mb-4">Conheça nossos CURSOS</h1>

<section>
    <div class="row row-cols-1 row-cols-md-3 row-cols-sm-1 g-4">
        @foreach (var item in Model.Cursos.Take(3))
        {
            <div class="col">
                <div class="card h-100">
                    <img src="@item.thumbnail" class="img-fluid rounded-start" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@item.nome</h5>
                        <p class="card-text">@item.resumo</p>
                        <button class="btn btn-warning">
                            <a class="" asp-controller="Cursos" asp-action="CursosDetalhes" asp-route-id="@item.Id">Veja mais</a>
                        </button>
                    </div>
                </div>
            </div>
        }
    </div>
</section>
//TODO: centralizar
<a asp-controller="Cursos" asp-action="Index">Ver todos os cursos</a>





<h1 class="fs-1 mt-4 mb-4">Veja as ultimas publicações do nosso Blog</h1>





<section class="row">
    @foreach (var item in Model.Postagens.Take(3))

    {

        <div class="col-md-4 col-lg-3 offset-lg-0 d-flex d-lg-flex justify-content-center align-items-center justify-content-lg-center align-items-lg-center">
            <img class="rounded-circle" src="@item.imagemCapa" width="200" height="200" />
        </div>
        <div class="col-12 col-md-8 col-lg-7">
            <h2>@item.tituloPost</h2>
            <p style="padding-top: 4px;padding-bottom: 4px;">
                @item.conteudo
            </p>
            <a class="d-lg-flex justify-content-lg-end" asp-controller="PostagensBlog" asp-action="Post" asp-route-id="@item.Id"> Leia mais  </a>
        </div>

    }
</section>
//TODO: centralizar
<a asp-controller="PostagensBlog" asp-action="Index">Ver todas as postagens </a>
