@model Cursos.Models.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Página Inicial ";
}

<h1 class="fs-1 mt-4 mb-4">Conheça nossos CURSOS</h1>

<div class="row">
    @foreach (var item in Model.Cursos.Take(3))
    {
        <div class="col-sm-6">
            <div class="card">
                <h5 class="card-header">@item.publicoAlvo</h5>
                <div class="card-body">
                    <h5 class="card-title">@item.nome</h5>
                    <p class="card-text">@item.resumo</p>
                    <a href="/Home/CursoDetalhes/@item.Id" class="btn btn-primary">Veja mais </a>
                </div>
            </div>
        </div>
    }
</div>

<a asp-action="CursosIndex">Ver todos os cursos</a>





<h1 class="fs-1 mt-4 mb-4">BLOG</h1>





<div class="row">
    @foreach (var item in Model.Postagens.Take(3))
    {
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@item.tituloPost</h5>
                    <p class="card-text"> @item.conteudo</p>
                    <a ref="/PostagensBlog/Detail/@item.Id" class="btn btn-primary">Artigo Completo</a>
                </div>
            </div>
        </div>
    }
</div>

