@model Cursos.Models.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<h1 class="fs-1 mt-4 mb-4">CURSOS</h1>

<div class="row">
@foreach (var item in Model.Cursos.Take(3))
{


    <div class="card m-3 col" style="max-width: 540px;">

        <div class="col">
            <img src="@Html.DisplayFor(modelItem => item.thumbnail)" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col">
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(modelItem => item.nome)</h5>
                <p class="card-text">@Html.DisplayFor(modelItem => item.resumo)</p>
                <p class="card-text"><a class="btn btn-info btn-sm" asp-controller="Cursos" asp-action="Details" asp-route-id="@item.Id">Veja mais</a> |</p>

            </div>
        </div>

    </div>

}
</div>






<h1 class="fs-1 mt-4 mb-4">BLOG</h1>

<div id="main-content" class="blog-page">
    <div class="container ">
        <div class="row clearfix d-flex justify-content-around">
            @foreach (var item in Model.Postagens.Take(3))
            {
                <div class="col-lg-8 col-md-12 left-box" style="max-width: 540px;">
                    <div class="card single_post">
                        <div class="body">
                            <div class="img-post">
                                <img class="d-block img-fluid" src="@Html.DisplayFor(modelItem => item.imagemCapa)" alt="First slide">
                            </div>
                            <h3><a href="blog-details.html">@Html.DisplayFor(modelItem => item.tituloPost)</a></h3>
                            <p> @Html.DisplayFor(modelItem => item.conteudo)</p>
                        </div>
                    

                        <div class="footer">
                            <div class="actions">
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-secondary">Detalhes</a>
                            </div>
                            <ul class="stats">
                                <li><a href="javascript:void(0);">General</a></li>
                                <li><a href="javascript:void(0);" class="fa fa-heart">@Html.DisplayFor(modelItem => item.gostei)</a></li>
                                <li><a href="javascript:void(0);" class="fa fa-comment">@Html.DisplayFor(modelItem => item.naoGostei)</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>