@model Cursos.Models.ViewModels.CursoViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>



<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<section>
    <div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <h5 class="card-title">@Html.DisplayFor(model => model.nome)</h5>
                    <p class="card-text">@Html.DisplayNameFor(model => model.descricao)</p>

                </div>
                <div class="col">
                    <div class="row">
                        <div class="col-1">
                            <i class="fa-solid fa-user"></i>
                        </div>
                        <div class="col">
                            <h5 class="card-title">resumo</h5>
                            <p class="card-text">@Html.DisplayFor(model => model.resumo)</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-1">
                            <i>F</i>
                        </div>
                        <div class="col">
                            <h5 class="card-title">Público-Alvo</h5>
                            <p class="card-text">@Html.DisplayFor(model => model.publicoAlvo)</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-1">
                            <i>F</i>
                        </div>
                        <div class="col">
                            <h5 class="card-title">cargaHoraria</h5>
                            <p class="card-text">@Html.DisplayFor(model => model.cargaHoraria)</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-1">
                            <i>F</i>
                        </div>
                        <div class="col">
                            <h5 class="card-title">Formato</h5>
                            <p class="card-text">Formato da Aula</p>
                        </div>
                    </div>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <h5 class="card-title">Programação</h5>
        @foreach (var item in Model.aulas)
        {
            <div class="row">
                <div class="col-1">
                    <i>P</i>
                </div>
                <div class="col">
                    <h5 class="card-title">@item.numeroOrdem. @item.titulo </h5>
                    <p class="card-text">@item.numeroOrdem. @item.titulo</p>
                </div>
            </div>
        }
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</section>

@*<div>
    <h4>Curso</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.thumbnail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.thumbnail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.resumo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.resumo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.descricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.descricao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.publicoAlvo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.publicoAlvo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.cargaHoraria)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.cargaHoraria)
        </dd>
    </dl>
</div>

@foreach (var item in Model.aulas)
{
    <p> @Html.DisplayFor(item => item.numeroOrdem)</p>


    <p>@item.numeroOrdem</p>
    <p>@item.titulo</p>

}*@