@model Cursos.Models.Entidades.PostagemBlog

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PostagemBlog</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tituloPost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tituloPost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.imagemCapa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.imagemCapa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.conteudo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.conteudo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.gostei)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.gostei)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.naoGostei)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.naoGostei)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dataPublicacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dataPublicacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.autor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.autor)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
