@model IEnumerable<Cursos.Models.Entidades.PostagemBlog>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.tituloPost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.imagemCapa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.conteudo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gostei)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.naoGostei)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dataPublicacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.autor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.tituloPost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.imagemCapa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.conteudo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.gostei)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.naoGostei)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dataPublicacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.autor)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>




<div id="main-content" class="blog-page">
    <div class="container">
        <div class="row clearfix">
            @foreach (var item in Model)
            {
                <div class="col-lg-8 col-md-12 left-box">
                    <div class="card single_post">
                        <div class="body">
                            <div class="img-post">
                                <img class="d-block img-fluid" src="@Html.DisplayFor(modelItem => item.imagemCapa)" alt="First slide">
                            </div>
                            <h3><a href="blog-details.html">@Html.DisplayFor(modelItem => item.tituloPost)</a></h3>
                            <p> @Html.DisplayFor(modelItem => item.conteudo)</p>
                        </div>
                        <div class="footer">
                            <div class="actions">
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-secondary">Detalhes</a>
                            </div>
                            <ul class="stats">
                                <li><a href="javascript:void(0);">General</a></li>
                                <li><a href="javascript:void(0);" class="fa fa-heart">28</a></li>
                                <li><a href="javascript:void(0);" class="fa fa-comment">128</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>