@model Cursos.Models.Entidades.PostagemBlog

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>

    <h2>@Model.tituloPost</h2>
    <p> @Model.dataPublicacao por <strong>@Model.autor</strong></p>

    <p> @Model.conteudo</p>
    <div class="d-flex justify-content-evenly ">
        <form class="col m-2" asp-action="Like">
            <input type="hidden" asp-for="Id" />
            <button type="submit" class="btn btn-success">
                @Model.gostei

                <i class="fa-solid fa-thumbs-up"></i>
            </button>


        </form>


        <form class="col m-2" asp-action="Dislike">
            <input type="hidden" asp-for="Id" />
            <button type="submit" class="btn btn-danger">
                @Model.naoGostei

                <i class="fa-solid fa-thumbs-down"></i>
            </button>

        </form>

    </div>



</div>
<div>

    <a asp-action="Index">Voltar</a>
</div>